*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: #fff;
	color: #333;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.6;
	overflow-wrap: break-word;
	overflow-x: hidden;
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
}  

a:focus-ring {
	outline: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video {
	height: auto;
	max-width: 100%;
}

code,
kbd,
pre,
samp {
	font-family: monospace, sans-serif;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

/* header */

header {
    left: 0;
	top: 0;
	width: 100%;
	z-index: 20;
	margin-top: 0px;
	background-image: url(../img/header_background.png);
	background-repeat: no-repeat;
	margin-bottom: 79px;
	background-size: cover;
	height: 360px;
}

.identity__MainTitle {
	font-size: 46px;
	padding-bottom: 150px;
	margin: auto;
	text-align: center;
	margin-top: -220px;
}

.inner {
	align-items: center;
	display: flex;
	height: 360px;
	padding-bottom: 0;
    padding-top: 0;
    width: 980px;
    margin: 0 auto;
	max-width: 100%;
	position: relative;
}

.header__bar {
	position: absolute;
	background-color: #ffffff;
	box-shadow: 4px 4px 1px 0 rgba(0, 0, 0, 0.16);
	width: 100%;
	display: flex;
	top: 60px;
}

.header__logo {
	margin-right: auto;
}

.header__logo a {
	transition: all 0.3s ease 0s;
}

.header__logo a:hover {
	opacity: 0.6;
}

.header__logo a img {
	padding-top: 27px;
	padding-left: 37px;
}

.header__nav ul {
	align-items: center;
	display: flex;
}

.header__nav li {
    margin-right: 52px;
    padding-top: 25px;
    padding-bottom: 23px;
}

.header__nav li:last-child {
	margin-right: 0;
}

.header__nav li > a {
	color: #333;
	display: block;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	font-weight: bold;
}

.header__nav li:nth-child(1) > a {
	color: #D4004E;
}

.header__nav li:nth-child(1) > p {
	color: #D4004E;
}

.header__nav li > a:hover {
	opacity: 0.6;
}

.header__nav li > p {
	font-size: 10px;
}

.header__nav a::after {
	content: "|";
	margin-left: 43.5px;
	color: #000000;
}

.header__nav li:last-child > a::after {
	content: "";
}

.header__nav li:active {
	color: #D4004E;
}

.header__nav li > a:active {
	color: #D4004E;
}

.header-bar {
	margin-bottom: 200px;
	display: flex;
}

/* identity */
.identity {
	height: 750px;
}

.identity .identity-title {
	position: absolute;
	top: 0;
	left: 0;
}

.identity .identity-picture {
	position: absolute;
	top: 0;
	right: 0;
}

.identity .identity-message {
	position: absolute;
	left: 0;
	top: 140px;
}

.identity .identity-submessage {
	position: absolute;
	left: 0;
	top: 320px;
}

.identity-text {
	left: 0;
	position: absolute;
	top: 400px;
}

.identity-subtext {
	left: 0;
	position: absolute;
	top: 500px;
}

/* company */
.company {
	height: 330px;
	margin-top: 130px;
	margin-bottom: 86px;
	font-size: 13px;
}

.company__title {
	left: 0;
	top: 0;
	position: absolute;
	z-index: 20;
}

.company__detail {
	position: relative;
	left: 24px;
	top: 10px;			
}

.company_name {
	background-color: #F2F3F7;
	display: flex;
	padding: 49px 212px 26px 36px;
	margin-bottom: 2px;
}

.company_place {
	background-color: #F2F3F7;
	display: flex;
	padding: 26.5px 212px 11.1px 36px;
	margin-bottom: 2px;
}

.company_leader {
	background-color: #F2F3F7;
	display: flex;
	padding: 26.5px 47px 27.6px 36px;
}

.company-category::after {
	content: url(../img/border_bar.png);
	color: #707070;
	padding-left: 50px;
	padding-right: 30.1px;
}

.longbar_image {
	margin-left: 50px;
	margin-right: 30px;
}

.btn {
	background-color: #D4004E;
	color: #fff;
	height: 20px;
	width: 80px;
	font-size: 10px;
	padding: 0 4px 10px 4px;
	text-decoration: none;
	display: inline-block;
	margin-top: 10px;
	text-align: center;
}

/* access */
.access {
	position: relative;
	height: 1058px;
}

.map-wrapper {
	background-image: url(../img/map1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 40px;
}

.access-title {
	left: 0;
	top: 0;
	position: absolute;
}

.map_label {
	background-image: url(../img/map2.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 80px;
	margin-top: 140px;
}

.access_information {
	position: absolute;
	background-color: #F2F3F7;
	padding: 28px 28px 26px 41px;
	top: 360px;
	margin-top: 50px;
}

/* leader */
.leader {
	margin-top: 60px;
	height: 1500px;
}

.leader-title {
	left: 0;
	top: 0;
	position: absolute;
}

.leaders {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 100px;
	left: 24px;
}

.leader-item {
	width: 50%;
	height: 417px;
	position: relative;
	margin-bottom: 69px;
	margin-right: 46px;
	width: calc(50% - 46px);
}

.leader-item:nth-child(2n) {
	margin-right: 0;
}

.leader-detail {
	background-color: #D4004E;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 250px;
	height: 250px;
	color: #ffffff;
}

.leader-name {
	font-size: 24px;
	padding: 31.3px 73.6px 0 33px;
}

.leader-position {
	font-size: 14px;
	padding: 10px 72.6px 0 34px;
}

.leader-comment {
	font-size: 13px;
	padding: 20px 22.6px 39.5px 34px;
	font-weight: bold;
}

.yuitirou {
	padding-right: 70px;
}

/* footer */

footer{
    background-color: #333333;
    color: #ffffff;
    height: 260px;
	text-align: center;
	margin-top: 90px;
}

footer p {
    margin-top: 24px;
    margin-bottom: 18px;
	width: 100%;
	font-weight: bold;
}

footer > .inner {
	padding-bottom: 0;
    padding-top: 0;
    width: 980px;
    margin: 0 auto;
    max-width: 100%;
	height: 260px;
	display: block;
}

.footer__nav {
	width: 100%;
	padding-top: 36px;
	font-size: 10px;
}

.footer__nav ul {
	text-align: center;
}

.footer__nav li {
	margin-right: 36px;
	display: inline-block;
}

.footer__nav li:last-child {
	margin-right: 0;
}

.footer__nav li > a {
	color: #ffffff;
	display: block;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.footer__nav li > a:hover {
	opacity: 0.6;
}

.footer__nav li > a::after {
	content: "|";
	margin-left: 36.5px;
	color: #ffffff;
}

.footer__nav li:last-child > a::after {
	content: "";
}

.icon_list a{
    padding:1rem;
}

.fb_btn {
	margin-top: 18px;
	display: inline-block;
}

.fb_btn a {
    text-decoration: none;
    display: flex;
    justify-content: center;
	width: 185px;
    color: #000;
    transition: 0.5s;
    margin: 0 auto;
    padding: 10px 0;
	text-align: center;
	font-size: 13px;
	background: #fff url(../img/black_arrow.svg) no-repeat center right 4px/16px 16px;

}

.copyright {
	font-size: 9px;
}
