*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: #fff;
	color: #333;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.6;
	overflow-wrap: break-word;
	overflow-x: hidden;
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
}            

a:focus-ring {
	outline: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video {
	height: auto;
	max-width: 100%;
}

code,
kbd,
pre,
samp {
	font-family: monospace, sans-serif;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

/* header */

header {
    left: 0;
	top: 0;
	width: 100%;
	z-index: 20;
	margin-top: 0px;
	background-image: url(../img/header_background.png);
	margin-bottom: 133px;
	background-repeat: no-repeat;
	background-size: cover;
	height: 360px;
}

.service__MainTitle {
	font-size: 46px;
	padding-bottom: 150px;
	margin: auto;
	margin-top: -250px;
	text-align: center;
}

.inner {
	align-items: center;
	display: flex;
	height: 360px;
	padding-bottom: 0;
    padding-top: 0;
    width: 980px;
    margin: 0 auto;
	max-width: 100%;
	position: relative;
}

.header__bar {
	position: absolute;
	background-color: #ffffff;
	box-shadow: 4px 4px 1px 0 rgba(0, 0, 0, 0.16);
	width: 100%;
	display: flex;
	top: 60px;
}

.header__logo {
	margin-right: auto;
}

.header__logo a {
	transition: all 0.3s ease 0s;
}

.header__logo a:hover {
	opacity: 0.6;
}

.header__logo a img {
	padding-top: 27px;
	padding-left: 37px;
}

.header__nav ul {
	align-items: center;
	display: flex;
}

.header__nav li {
    margin-right: 52px;
    padding-top: 25px;
    padding-bottom: 23px;
}

.header__nav li:last-child {
	margin-right: 0;
}

.header__nav li > a {
	color: #333;
	display: block;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	font-weight: bold;
}

.header__nav li:nth-child(3) > a {
	color: #D4004E;
}

.header__nav li:nth-child(3) > p {
	color: #D4004E;
}

.header__nav li > a:hover {
	opacity: 0.6;
}

.header__nav li > p {
	font-size: 10px;
}

.header__nav a::after {
	content: "|";
	margin-left: 43.5px;
	color: #000000;
}

.header__nav li:last-child > a::after {
	content: "";
}

.header__nav li:active {
	color: #D4004E;
}

.header__nav li > a:active {
	color: #D4004E;
}

.header-bar {
	margin-bottom: 200px;
	display: flex;
}
/* /header-end */

/* service */
.service_content {
    height: 600px;
	position: relative;
	margin-bottom: 126px;
}

.service_content > .inner {
    margin-left: 150px;
	margin-right: 111px;
	height: 580px;
}

.second_content {
	margin-top: 330px;
}

.mark {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.service_item {
	height: 600px;
}

.service_title {
    position: absolute;
    top: 0;
    left: 36px;
    z-index: 20;
}

.service_detail {
    position: absolute;
    top: 12px;
    left: 2px;
    background-color: #F2F3F7;
    width: 541px;
    height: 478px;
    z-index: 1;
}

.service-image {
    z-index: 20;
	right: 0;
	bottom: 0;
    position: absolute;
}

.service-logo {
    position: absolute;
    top: 0;
    right: 140px;
}

.service_text {
    font-size: 14px;
	padding: 91px 104px 83.6px 64px;
	line-height: 2.8;
	font-weight: bold;
	color: #333333;
}

.btn_wrapper {
    font-size: 13px;
	padding: 0 103.9px 52px 64px;
	display: flex;
	flex-wrap: wrap;
}

.btn {
	padding: 13.4px 19px 9.4px 10.5px;
	font-size: 13px;
	display: inline-block;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 16px;
	margin-right: 20px;
	width: calc(33.33333% - 20px);
	text-align: center;
	height: 37px;
	line-height: 14px;
	background: transparent url(../img/white_arrow.svg) no-repeat center right 4px/16px 16px;
}

.btn:nth-child(3n) {
	margin-right: 0;
}

.web_btn {
	background-color: #D4004E;
}

.blog_btn {
	background-color: #15B56B;
}

.insta_btn {
	background-color: #9C60BC;
}

.facebook_btn {
	background-color: #4267B2;
}

.twitter_btn {
	background-color: #1CA1F2;
}

.youtube_btn {
	background-color: #F73434;
}

.lot {
	height: 330px;
}

/* service-end */

/* footer */

footer{
    background-color: #333333;
    color: #ffffff;
    height: 260px;
	text-align: center;
	margin-top: 90px;
}

footer p {
    margin-top: 24px;
    margin-bottom: 18px;
	width: 100%;
	font-weight: bold;
}

footer > .inner {
	padding-bottom: 0;
    padding-top: 0;
    width: 980px;
    margin: 0 auto;
    max-width: 100%;
	height: 260px;
	display: block;
}

.footer__nav {
	width: 100%;
	padding-top: 36px;
	font-size: 10px;
}

.footer__nav ul {
	text-align: center;
}

.footer__nav li {
	margin-right: 36px;
	display: inline-block;
}

.footer__nav li:last-child {
	margin-right: 0;
}

.footer__nav li > a {
	color: #ffffff;
	display: block;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.footer__nav li > a:hover {
	opacity: 0.6;
}

.footer__nav li > a::after {
	content: "|";
	margin-left: 36.5px;
	color: #ffffff;
}

.footer__nav li:last-child > a::after {
	content: "";
}

.icon_list a{
    padding:1rem;
}

.fb_btn {
	margin-top: 18px;
	display: inline-block;
}

.fb_btn a {
    text-decoration: none;
    display: flex;
    justify-content: center;
	width: 185px;
    color: #000;
    transition: 0.5s;
    margin: 0 auto;
    padding: 10px 0;
	text-align: center;
	font-size: 13px;
	background: #fff url(../img/black_arrow.svg) no-repeat center right 4px/16px 16px;

}

.copyright {
	font-size: 9px;
}

